/* App Container */

.app__container {
    background-color: #F5F5F5;
}
.app__content {
    padding-top: 36px;
}
.category {
    border-radius: 2px;
    background-color: var(--white-color);
    
}
.category__heading {
    color: var(--text-color);
    font-size: 1.6rem;
    font-weight: 500;
    padding: 16px 16px 0;
    margin-top: 0;
    text-transform: uppercase;
}
/* .category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
} */
.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    /* margin-left: 9px; */
}
.category-item {
    position: relative;
}
.category-item:first-child::before {
    display: none;
}
.category-item::before {
    content: "";
    border-top: 1px solid #E1E1E1;
    position: absolute;
    top: 0;
    left: 20px;
    right: 20px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);

}
/* .category-item--active .category-item__link::before {
    position: absolute;
    top: 50%;
    left: 7px;
    content: "";
    border: 4px solid;
    transform: translateY(calc(50% - 7px));
    border-color: transparent transparent transparent var(--primary-color);
} */
.category-item__link {
    position: relative;
    font-size: 1.5rem;
    color: var(--text-color);
    text-decoration: none;
    padding: 8px 20px;
    display: block;
    /* transition: right linear 0.1s;
    right: 0; */
}
.category-item__link:hover {
    /* right: -4px; */
    color: var(--primary-color);
}

/* Home sort + filter */
.home-filter {
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.04);
}
.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn {
    min-width: 90px;
    margin-right: 12px;
}
.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current {
    color: var(--primary-color);
}
.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;

}
.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}
.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;

}
.home-filter__page-btn:first-child {
    border-right: 1px solid #EEE;
}
.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* Product item */
.home-product {
    margin-bottom: 10px;
}
.home-product-item {
    display: block;
    position: relative;
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 10px;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.05);
}
.home-product-item-img {
    padding-top: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    margin: 10px 10px 6px; 
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}
.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;

}
.home-product-item__like {
    font-size: 1.4rem;
}
i.home-product-item__like-icon-fill {
    color: #F63D30;
    display: none;
}
.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}
.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin: right;
    color: #D5D5D5;
    margin: -1px 0 0 auto;
}
.home-product-item__star--gold {
    color: var(--star-gold-color);
}
.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}
.home-product-item__origin {
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
    margin: 3px 10px 0;
    display: flex;
    justify-content: space-between;
}
.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}
.home-product-item__favourite span {
    color: var(--white-color);

}
.home-product-item__favourite::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}
.home-product-item__favourite  i {
    color: var(--white-color);
    font-size: 0.9rem;
    margin: 0 2px 0 5px ;
}
.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 36px;
    text-align: center;
    background-color: rgba(255, 216, 64, 0.94);
    border-top-right-radius: 2px;

}
.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64, 0.94) transparent rgba(255, 216, 64, 0.94);
} 
.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 2.2rem;
    position: relative;
    top: -1px
}
.home-product-item__sale-off-label {
    color: var(--white-color);
    font-size: 1.3rem;
    line-height: 1.3rem;
    font-weight: 600;
    position: relative;
    top: -2px;
}

/*  */
.home-product__pagination {
    margin: 48px 0 32px;
}

/* Footer */
.footer {
    padding-top: 16px;
    border-top: 4px solid var(--primary-color);
    background-color: var(--white-color);
}
.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer__list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 2px 0;
    display: flex;
    align-items: center;
}
.footer-item__link:hover {
    color: var(--primary-color);
}
.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}
.footer__download {
    display: flex;
}
.footer__download-qr {
    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}
.footer__download-apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__download-app-img {
    height: 16px;
}
.footer__download-app-link {
    color: transparent;
    text-decoration: none;
}

.footer__bottom {
    padding: 8px 0;
    background-color: #F5F5F5;
    margin-top: 36px;
}
.footer__text {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    color: #737373;
}
.custom {
    position: relative;
  }
  .star-under {
    color: #ddd;
    vertical-align: top;
    padding-top: 2px;
  }
  .star-over {
    color:var(--star-gold-color);
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    overflow: hidden;
  }